<div class="container">
  <div class="row">
    <div class=".col-md-8">
    <h1>Posts</h1>
    <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= post.title %></h3>
      </div>
      <div class="panel-body">
        <%= post.body %>
      </div>
      <div class="tags">
        <b>Tags:</b><br>
        <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
      <div class="panel-links">
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) if policy(post).edit? %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %></td>
      </tr>
      </div>
    </div>
    <% end %>
    <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>
